<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059749085519-r8dnn7t3s3h4qfqvkkkhb4ff5e0qtldq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059749085519-r8dnn7t3s3h4qfqvkkkhb4ff5e0qtldq</string>
	<key>API_KEY</key>
	<string>AIzaSyAmMim8Q2YKyvj_NwB4Bnv6PZ8h3tsVEt4</string>
	<key>GCM_SENDER_ID</key>
	<string>1059749085519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.incheoncapstone.haksikhelper</string>
	<key>PROJECT_ID</key>
	<string>capstone-various-91aad</string>
	<key>STORAGE_BUCKET</key>
	<string>capstone-various-91aad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059749085519:ios:cc17d2216990f88bc3453a</string>
</dict>
</plist>
